---
layout: default
---

<div id="skills">

  <h3 class="mt-2">CROSS-PLATFORM DEVELOPMENT</h3>
  <hr>
  <p>For the last <b>six years</b> I have been developing clean and scalable apps and services for different platforms,
    including desktops and smartphones. The languages I have more experience with are:</p>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <h5> Java</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small><b>Spring Framework</b></p-small>
        </li>
        <li>
          <p-small>Servlets and JSP</p-small>
        </li>
        <li>
          <p-small>JDBC connections</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>C#</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Cross-platform <b>.NET Core</b></p-small>
        </li>
        <li>
          <p-small>LINQ</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>Rust</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Safe and unsafe rust</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>C</h5>
    </li>
    <li>
      <p-medium><b>OOP</b> design</p-medium>
    </li>
    <li>
      <p-medium><b>SOLID</b> principles</p-medium>
    </li>
    <li>
      <p-medium>Unit testing, TDD and BDD</p-medium>
    </li>
    <li>
      <p-medium>Sockets and networking (TCP, UDP)</p-medium>
    </li>
    <li>
      <p-medium>Multithreading and asynchronous programming</p-medium>
    </li>
    <li>
      <p-medium>Database connections</p-medium>
    </li>
    <li>
      <p-medium>Inter-process communications</p-medium>
    </li>
  </ul>


  <h3 class="mt-5">WEB DEVELOPMENT</h3>
  <hr>
  <p>I also have written serveral webpages and web applications on very different full-stacks
    including technologies like:</p>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <h5>HTML5</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Metadata, SEO and Accesibility</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>CSS3</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Advanced selectors</p-small>
        </li>
        <li>
          <p-small>Responsive & Media Queries</p-small>
        </li>
        <li>
          <p-small>Flexbox and grid layouts</p-small>
        </li>
        <li>
          <p-small>Bootstrap</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>Javascript</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Vanilla and <b>JQuery</b></p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>ReactJS</h5>
    </li>
    <li>
      <h5>PHP</h5>
    </li>
    <li>
      <h5>NodeJS</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small><b>Express</b> web framework</p-small>
        </li>
        <li>
          <p-small>Template languages like EJS</p-small>
        </li>
        <li>
          <p-small>Real-time apps with socket.io</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>ASP.NET</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small><b>ASP.NET core</b></p-small>
        </li>
        <li>
          <p-small>MVC pattern</p-small>
        </li>
      </ul>
    </li>
    <li>
      <p-medium>REST APIs in JSON</p-medium>
    </li>
    <li>
      <p-medium>Secure database interactions and user verification</p-medium>
    </li>
    <li>
      <p-medium>Multi-language/themes webpages</p-medium>
    </li>
  </ul>



  <h3 class="mt-5">DATABASE MANAGEMENT</h3>
  <hr>
  <p>I know how to design new databases, following the fundaments and best practices of each model. I
    have experience with different DBMS such as:</p>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <h5>MySQL</h5>
    </li>
    <li>
      <h5>MariaDB</h5>
    </li>
    <li>
      <h5>Oracle PL/SQL</h5>
    </li>
    <li>
      <h5>SQLite</h5>
    </li>
    <li>
      <h5>MongoDB</h5>
    </li>
    <li>
      <p-medium>Procedures, functions and triggers</p-medium>
    </li>
    <li>
      <p-medium>Entity–relationship model</p-medium>
    </li>
  </ul>





  <h3 class="mt-5">TECHNICAL SKILLS</h3>
  <hr>
  <p>During my projects I have used tools and technologies like:</p>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <h5>GIT</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Github, Gitlab and similars</p-small>
        </li>
        <li>
          <p-small>GitFlow</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>Microsoft Office</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Word, Excel, PowerPoint, Teams...<p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>Docker and Kubernetes</h5>
    </li>
    <li>
      <h5>Slack</h5>
    </li>
    <li>
      <h5>SCRUM</h5>
    </li>
    <li>
      <h5>UML</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Use of UML diagrams for software design<p-small>
        </li>
      </ul>
    </li>
  </ul>



  <h3 class="mt-5">OPERATING SYSTEMS</h3>
  <hr>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <p-medium><b>System Administration:</b> Installation and configuration of SO, including
        setting up in network enviroments</p-medium>
    </li>
    <li>
      <p-medium><b>Computer networks:</b> File-sharing, routers, DHCP, internet protocols, QoS,
        NAT</p-medium>
    </li>
    <li>
      <h5>Windows</h5>
    </li>
    <li>
      <h5>Debian</h5>
    </li>
    <li>
      <h5>CentOS</h5>
    </li>
    <li>
      <h5>VMWare and Virtualbox</h5>
    </li>
  </ul>



  <h3 class="mt-5">INTERACTIVE APPS / VIDEO GAMES </h3>
  <hr>
  <p>I started programming by building games, and is something that I have kept as a hobby since then.
    I have programmed several gameplay mechanics, systems and multiplayer netcode from scratch,
    using optimized and multithread code</p>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <h5>Unity</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>2D and 3D</p-small>
        </li>
        <li>
          <p-small>Development tools</p-small>
        </li>
        <li>
          <p-small>Networking</p-small>
        </li>
        <li>
          <p-small>DOTS and ECS</p-small>
        </li>
      </ul>
    </li>
  </ul>



  <h3 class="mt-5">CAD, AUDIO AND VIDEO</h3>
  <hr>
  <p>I have made use of very different applications to create and design the assets I need for my
    projects:</p>
  <ul class="pl-4" style="list-style-type: square">
    <li>
      <h5>Adobe Photoshop</h5>
    </li>
    <li>
      <h5>Adobe Premiere, Sony Vegas</h5>
    </li>
    <li>
      <h5>Audacity</h5>
    </li>
    <li>
      <h5>FL Studio</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Sound design</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>Blender and 3dsMax</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Low-poly, hardsurfce 3D modeling</p-small>
        </li>
        <li>
          <p-small>3D Topology</p-small>
        </li>
      </ul>
    </li>
    <li>
      <h5>Inkscape and Illustrator</h5>
      <ul class="d-none d-lg-block">
        <li>
          <p-small>Vector graphics</p-small>
        </li>
        <li>
          <p-small>Icons and logos creation</p-small>
        </li>
      </ul>
    </li>
  </ul>

</div>